* {
  box-sizing: border-box;
  font-family: Arial;
  margin: 0;
  padding: 0;
}




.menu {
  padding: 10px;
  text-align: center;
  background-color: rgb(201, 192, 203);
  position: sticky;
  top: 0;
  z-index: 10;


}

.nav-bar h1 {
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0.1em 0.1em rgb(228, 216, 216);
  font-size: 35px;
  color: black;
  padding: 5px;


}

.nav-bar h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: black;
  text-shadow: 0.1em 0.1em rgb(228, 216, 216);



}

.menu p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: black;
  padding: 10px;

}

.menu hr {
  height: 2px;
  background-color: black;
  border-color: black;
}


/* Style the top navigation bar */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(201, 192, 203);


}


.nav-bar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}


.nav-bar a:hover {
  background-color: rgba(222, 117, 235, 0.373);
  color: black;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.side h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 15px;
}

.side h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 15px;

}

.side p {
  font-family: 'Raleway', sans-serif;
  text-align: justify;
  padding: 5px;

}


.side {
  flex: 30%;
  background-color: #f1f1f1;
  text-align: justify;

}

.side hr {

  height: 1px;
  background-color: black;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;

}

.side img {

  width: 100%;
  padding: 2px;


}



.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.main-news2 {
  flex: 50%;
  background-color: white;
  padding: 20px;
}

.main-news1 {
  flex: 50%;
  background-color: white;
  padding: 20px;
}

.main-news1 hr {

  height: 1px;
  background-color: black;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;

}

.main-news2 hr {

  height: 1px;
  background-color: black;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;

}

.main h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 15px;
}

.main-news1 h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 15px;
}

.main-news2 h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 15px;
}

.main h5 {
  font-family: 'Montserrat', sans-serif;

  text-align: center;
  padding: 15px;

}

.main-news1 h5 {
  font-family: 'Montserrat', sans-serif;

  text-align: center;
  padding: 15px;

}

.main-news2 h5 {
  font-family: 'Montserrat', sans-serif;

  text-align: center;
  padding: 15px;

}



.main h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 15px;

}

.main-news1 h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 15px;

}

.main-news2 h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 15px;

}

.main p {
  font-family: 'Raleway', sans-serif;
  text-align: justify;
  padding: 5px;
}

.main-news1 p {
  font-family: 'Raleway', sans-serif;
  text-align: justify;
  padding: 5px;

}

.main-news2 p {
  font-family: 'Raleway', sans-serif;
  text-align: justify;
  padding: 5px;
}

.main img {
  width: 100%;
  padding: 2px;
}

.main-news1 img {
  width: 100%;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.main-news2 img {
  width: 100%;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.side p {
  font-family: 'Raleway', sans-serif;
  text-align: justify;
  padding: 5px;

}


.side {
  flex: 30%;
  background-color: #f1f1f1;
  text-align: justify;
}

.side hr {

  height: 1px;
  background-color: black;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;

}

.main hr {

  height: 1px;
  background-color: black;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;

}








/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}



@media screen and (max-width: 768px) {

  .row,
  .nav-bar {
    flex-direction: column;
  }

  #galeria {
    width: 350px;
  }

  nav ul li a img {
    width: 80px;
    opacity: 50%;
    transition: 0.3s;
    filter: grayscale(50%);
  }

  .main-news img {
    width: 100%;

  }



}

/*ACA EMPIEZA LA ORGANIZACION SECTOR NOTICIAS*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

html {
  background: rgb(255, 255, 255);
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}



a {
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

div,
h2,
p,
figure {
  margin: 0;
  padding: 0;
}



.header h1 {
  font-size: 40px;
  font-weight: bold;
}

.header h2 a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 20px;
  opacity: 0.5;
}

.header h2 a:hover {
  border-bottom-color: white;
  opacity: 1;
}

.main {
  margin: 0 auto;
  /*max-width: 1040px;*/
  padding: 10px;
}

.column {
  flex: 1;
  flex-direction: column;
}

.article {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #666;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  margin: 10px;
}

.article:hover,
.article:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #444;
}

.article-image {
  background: #eee;
  display: block;
  padding-top: 75%;
  position: relative;
  width: 100%;
}

.article-image img {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.article-image.is-3by2 {
  padding-top: 66.6666%;
}

.article-image.is-16by9 {
  padding-top: 56.25%;
}

.article-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}

.article-title {
  color: #333;
  flex-shrink: 0;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2;
}

.article-content {
  flex: 1;
  margin-top: 5px;
}

.article-info {
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
  margin-top: 10px;
}

@media screen and (min-width: 800px) {

  .columns,
  .column {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .first-article {
    flex-direction: row;
  }

  .first-article .article-body {
    flex: 1;
  }

  .first-article .article-image {
    height: 300px;
    order: 2;
    padding-top: 0;
    width: 400px;
  }

  .main-column {
    flex: 3;
  }

  .nested-column {
    flex: 2;
  }
}