* {
  box-sizing: border-box;
  font-family: Arial;
  margin: 0;
  padding: 0;
}




.menu {
  padding: 10px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 10;


}



.nav-bar h1 {
  font-family: 'Roboto', sans-serif;
  text-shadow: 0.1em 0.1em rgb(145, 139, 139);
  font-size: 40px;
  color: black;
  padding: 5px;



}

.nav-bar h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: black;
  text-shadow: 0.1em 0.1em rgb(0, 0, 0);



}

.menu p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: black;
  padding: 10px;

}

.menu hr {
  height: 2px;
  background-color: black;
  border-color: black;
}


/* Style the top navigation bar */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);


}


.nav-bar a {
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  font-family: 'Roboto', sans-serif;

  text-decoration: none;
  text-align: center;
}


.nav-bar a:hover {
  background-color: rgba(0, 0, 0, 0.373);
  color: rgb(255, 255, 255);
}


/*.row {
  display: flex;
  flex-wrap: wrap;
}*/

.side h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.side h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 15px;
  font-weight: 600;

}




.side {
  flex: 30%;
  background-color: #f1f1f1;
  text-align: justify;

}

.side hr {

  height: 1px;
  background-color: black;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;

}

.side img {

  width: 100%;
  padding: 2px;


}



.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.main-news2 {
  flex: 50%;
  background-color: white;
  padding: 20px;
}

.main-news1 {
  flex: 50%;
  background-color: white;
  padding: 20px;
}

.main-news1 hr {

  height: 1px;
  background-color: black;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;

}

.main-news2 hr {

  height: 1px;
  background-color: black;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;

}

.main h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.main-news1 h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.main-news2 h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.main h5 {
  font-family: 'Roboto', sans-serif;

  text-align: center;
  padding: 15px;
  font-weight: 600;

}





.main h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 15px;
  font-weight: 600;

}



.main p {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  padding: 5px;
}




.main img {
  width: 100%;
  padding: 2px;
}


.side p {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  padding: 5px;
  text-decoration: none;
}


.side {
  flex: 30%;
  background-color: #f1f1f1;
  text-align: justify;
  padding: 20px;
}

.side hr {

  height: 1px;
  background-color: black;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;

}

.main hr {

  height: 1px;
  background-color: black;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;

}








/* Footer */




@media screen and (max-width: 768px) {


  .nav-bar {
    flex-direction: column;
  }

  #galeria {
    width: 100%;
  }

  nav ul li a img {
    width: 80px;
    opacity: 50%;
    transition: 0.3s;
    filter: grayscale(50%);
  }

  .main-news img {
    width: 100%;

  }

  .listing {
    height: auto;




  }

}





/*

a {
  font-family: 'Roboto';
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

div,
h2,
p,
figure {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

.header h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto';
}

.header h2 a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 20px;
  opacity: 0.5;
  font-family: 'Roboto';
}

.header h2 a:hover {
  border-bottom-color: white;
  opacity: 1;
  font-family: 'Roboto';
}
*/


/*.column {
  flex: 1;
  flex-direction: column;
}*/

.article {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #666;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  margin: 10px;

}

.article:hover,
.article:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #444;
}

.article-image {
  background: #eee;
  display: block;
  padding-top: 75%;
  position: relative;
  width: 100%;
}

.article-image img {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.article-image.is-3by2 {
  padding-top: 66.6666%;
}

.article-image.is-16by9 {
  padding-top: 56.25%;
}

.article-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}

.article-title {
  color: #333;
  flex-shrink: 0;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2;

}

.article-content {
  flex: 1;
  margin-top: 5px;
  font-family: 'Roboto';
  text-decoration: none !important;

}



.article-info {
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
  margin-top: 10px;
}



@media screen and (min-width: 1000px) {
  .first-article {
    flex-direction: row;
  }

  .first-article .article-body {
    flex: 1;
  }

  .first-article .article-image {
    height: 300px;
    order: 2;
    padding-top: 0;
    width: 400px;
  }

  .main-column {
    flex: 3;
  }

  .nested-column {
    flex: 2;
  }
}

#carouselExampleIndicators {
  width: 80%;

  margin: 0 auto;
}

/*----------------------FOOTER------------------------*/
.pt-2 p {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;

}

footer {
  background-color: #eee6e5;
}

.col-auto button {
  color: #000;
  border-color: #000;
}

.col-auto button:hover {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: #000;
}

/*----------------------------------------------------------------*/
.column {

  width: 370px;
  margin: 0 auto;

  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 768px) {
  .column {
    width: 90%;
  }

  .container {

    grid-template-areas:
      "header header"
      "sidebar sidebar "
      "content content"
      "footer footer";
    grid-template-columns: 0.5fr;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-gap: 10px;
  }
}

.column img {
  width: 100%;
}

.column img:hover {
  transform: 1.1%;
}

.column h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 10px;
}

.column p {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  padding: 10px;
}

.column {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*..................................................................*/
.listing {
  list-style: none;
  margin: 2em;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  border-top: 1PX solid #000;
  border-bottom: 1px solid #000;


}

listing li {
  border: 1px solid #000000;

  border-radius: 5px;
  display: flex;
  flex-direction: column;

}

.listing .cta {
  margin-top: auto;
  border-top: 1px solid #000000;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000;
}

.listing h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-align: center;

}

.listing .body {
  padding: 10px;
  border-top: 1px solid #000000;


}

.body P {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.cta a {
  text-decoration: none;
}

.cta a:hover {
  color: #eb2f06;
}

.foto-port img {
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
}

.foto-port :hover {
  filter: grayscale(80%);

}


/*............................HEADER..............................................*/

.cabecera h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}