@import "../base/variables";

/*-------------------------------------------*/
.listing {
    list-style: none;
    margin: 2em;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    border-top: 1 solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: rgb(255, 255, 255);

    .foto-port {
        img {
            width: 100%;
            height: 150px;
            margin-bottom: 15px;

            &:hover {
                filter: grayscale(80%);
                box-shadow: 0 14px 28px rgb(235, 64, 7), 0 10px 10px rgb(214, 30, 30);
                color: #444;

            }
        }
    }



    .body {
        padding: 10px;
        background-color: $fondo-noticias;
        height: 90px;
        border-top: $border-noticias;



        p {
            font-family: 'Roboto', sans-serif;
            text-align: justify;
            padding: 5px;

        }

    }

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        text-align: center;
        padding: 10px;

    }

    li {
        border: 1px solid $border-li-main;

        border-radius: 5px;
        display: flex;
        flex-direction: column;

        a {
            font-family: 'Roboto', sans-serif;
            text-decoration: none;
            color: #000;
            background-color: $a-noticias;

            &:hover {
                color: #eb2f06;
            }
        }
    }


}

.contact_form {
    width: 100%;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;
    font-family: 'Hind Siliguri', sans-serif;

    input {
        background-color: #fbfbfb;
        width: 50%;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #000000;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    textarea {
        background-color: #fbfbfb;
        width: 90%;
        height: 150px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #000000;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        padding-top: 15px;
    }

    label {
        display: block;
        float: center;
    }

    #enviar {
        height: 45px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-transform: uppercase;
        background-color: #fdfcfd;
        border-color: #000000;
        border-style: solid;
        border-radius: 10px;
        width: 15%;
        cursor: pointer;

        &:hover {
            background-color: #e60e0e;
            border-color: #ffffff;
        }
    }

    h2 {
        font-size: 39px;
        text-align: letf;
        padding-bottom: 20px;
        color: #000000;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;

    }


    h3 {
        font-size: 16px;
        padding-bottom: 30px;
        color: #0e0e0e;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;

    }
}

.cta {
    margin-top: auto;
    border-top: 1px solid #000000;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000;

    a {
        text-decoration: none;

        &:hover {
            color: #df331075;
        }
    }
}