@import "../base/variables";

* {
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.cabecera {
    border-bottom: 1px solid orangered;

    h2 {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-weight: bold;


    }
}

.titulo_secc {
    background-color: rgba(217, 212, 207, 0.789);

    h4 {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;




    }

}


/*GRID PUEDE IR DE ACA*/
/*TODAS LAS CLASES QUE SE USAN PARA APLICAR EN MUCHOS ELEMENTOS*/