* {
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.cabecera {
    h2 {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
}

/*GRID PUEDE IR DE ACA*/
/*TODAS LAS CLASES QUE SE USAN PARA APLICAR EN MUCHOS ELEMENTOS*/