$menu-color: rgb(255, 255, 255);
$border-li-main: rgb(0, 0, 0);
$a-noticias: rgb(255, 255, 255);
$border-noticias: 1px solid rgb(0, 0, 0);
$fondo-noticias: rgb(255, 255, 255);

@keyframes color-t {
    from {
        color: rgb(0, 0, 0);
    }

    to {
        color: rgb(241, 46, 46);
    }


}